html {
    font-family: "Saira Condenced", Ariel, sans-serif;
    font-weight: 550;
    font-style: normal;
}

/* .saira-condensed-thin {
    font-family: "Saira Condensed", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .saira-condensed-extralight {
    font-family: "Saira Condensed", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .saira-condensed-light {
    font-family: "Saira Condensed", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .saira-condensed-regular {
    font-family: "Saira Condensed", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .saira-condensed-medium {
    font-family: "Saira Condensed", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .saira-condensed-semibold {
    font-family: "Saira Condensed", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .saira-condensed-bold {
    font-family: "Saira Condensed", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .saira-condensed-extrabold {
    font-family: "Saira Condensed", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .saira-condensed-black {
    font-family: "Saira Condensed", serif;
    font-weight: 900;
    font-style: normal;
  } */
  
/* index */

body {
  padding-top: 65px;
}

nav {
    display: grid;
    grid-template-columns: 1fr max-content max-content;
    background-color: black;
    color: white;
    padding: 25px;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 1;
    margin: 0px;
}

nav img {
  height: 3.583rem;
  /* height: 100%; */
  position: relative;
  /* position: absolute; */
  /* right: 25px;
  top: 5px; */
}

nav embed {
  height:   3.583rem;
  position: absolute;
  right: 75px;
  top: 7px;
}
.st0{
  fill: white;
}

#banner {
  padding: 500px 0px 500px 0px;
  text-align: center;
  background-image:  repeating-conic-gradient( rgb(0 0 0) 0deg 90deg, rgb(255 0 219) 90deg 180deg);
  background-image: url("../img/blue_light.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  color: white;
}

@media screen and (min-width: 1920px) {
  #banner {
    background-size: 100%;
  }
  
}
/* index */

/* 1.2 type scale minor third 
  4.3rem
  3.583rem
  2.986rem
  2.074rem
  1.728rem
  1.44rem
  1.2rem
  1rem
  0.833rem
  0.694rem
  0.579rem
  0.482rem
*/

article{
  margin: 2.074rem;
}

article img {
  width: 100%;
  height: auto;
}

.twocolumn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}

::selection {
  background: rgba(195, 151, 234, 0.75);
}