body {
    font-family: sans-serif;
    color: white;
    background-color: rgb(61, 22, 106);
}

nav {
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    width: 100%;

}

nav a {
    color: white;
}