main {
    width: 100%;
    background-color: black;
    color: white;
}
.top {
border-radius: 15px 15px 0px 0px;
}

.mgs1 {
    background-image: url(../img/placeholder\ 640x640.jpeg);
}

.mgs2 {
    background-color: brown;
}

article{
    margin: 2.074rem;
    max-width: 800px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }